{% extends "base.html" %}
{% block title %}用户列表{% endblock %}
{% block header %}用户列表{% endblock %}
{% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<table width="60%" border="1" align="center">
    <tbody>
    <tr>
        <th width="30%">用户名</th>
        <th width="30%">邮箱</th>
        <th>操作</th>
    </tr>

    {% for row in user_list %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.email }}</td>
        <td>
            <a href="/books/detail/{{ row.name }}">详细</a>
            <a href="/books/del/{{ row.name }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div align="right">
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

{% endblock %}

