{% extends "base1.html"%}
{% block title %}注册成功{% endblock %}

{% block body %}

<style type="text/css">
a:link {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    font-size: 18px;
    color: #DB8400;
    text-decoration: underline;
    font-weight: bolder;
}
</style>

<div align="center">
  <p class="text7">恭喜您注册成功！</p>
  <p>
       <a href="/login">返回登录页面 </a>
  </p>
</div>

{% endblock %}