{% extends "base2.html" %}
{% load static %}
{% block title %}客户注册{% endblock %}

{% block body %}

<style type="text/css">
        table {
            border-collapse: collapse;
        }

        .boder {
            border: 1px solid #5B96D0;
        }

        .col1 {
            background-color: #A6D2FF;
            text-align: right;
            padding-right: 10px;
            border: 1px solid #5B96D0;
            line-height: 50px;
        }

        .col2 {
            padding-left: 10px;
            border: 1px solid #5B96D0;
            line-height: 50px;
        }

        .textfield {
            height: 20px;
            width: 200px;
            border: 1px solid #999999;
            text-align: left;
            font-size: medium;
            line-height: 50px;
        }


</style>

<form action="/register/" method="post">
    {% csrf_token %}
    <div><img src="{% static 'images/reg.jpg' %}" align="absmiddle"/></div>
    <br>
    <hr width="100%"/>

    <ul>
        {% for field, errors in form.errors.items %}
        {% for message in errors %}
        <li class="error">{{ message }}</li>
        {% endfor %}
        {% endfor %}
    </ul>


    <div class="text3" align="center">请填写下列信息</div>
    <br>

    <table width="60%" border="0" align="center" class="boder">
        <tr>
            <td width="35%" height="27" class="col1">客户账号：</td>
            <td class="col2">{{ form.userid }}*</td>
        </tr>
        <tr>
            <td height="27" class="col1">客户姓名：</td>
            <td class="col2">{{ form.name }}*</td>
        </tr>
        <tr>
            <td height="27" class="col1">客户密码：</td>
            <td class="col2">{{ form.password1 }}*</td>
        </tr>
        <tr>
            <td height="27" class="col1">再次输入密码：</td>
            <td class="col2">{{ form.password2 }}*</td>
        </tr>
        <tr>
            <td height="27" class="col1">出生日期：</td>
            <td class="col2">{{ form.birthday }}*
                格式（YYYY-MM-DD）
            </td>
        </tr>
        <tr>
            <td height="27" class="col1">通讯地址：</td>
            <td class="col2">{{ form.address }}</td>
        </tr>
        <tr>
            <td height="27" class="col1">电话号码：</td>
            <td class="col2">{{ form.phone }}</td>
        </tr>
    </table>
    <br>
    <div align="center">
        <input type="image" src="{% static 'images/submit_button.jpg' %}"/>
    </div>
</form>

{% endblock %}