{% extends "base2.html" %}
{% load static %}
{% block title %}商品列表{% endblock %}

{% block body %}

<style type="text/css">
	table {
		border-collapse: collapse;
	}

	/*商品列表第1列*/
	.col1 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-indent: 40px
	}

	/*商品列表第2列*/
	.col2 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: right;
	}

	/*商品列表第3列*/
	.col3 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}
</style>

<table width="100%" border="0" align="center">
  <tr>
    <td width="616"><img src="{% static 'images/list.jpg' %}" align="absmiddle" /></td>
    {% include 'goods_header.html' %}
  </tr>
</table>
<hr width="100%" />
<div class="text3" align="center">请从商品列表中选择您喜爱的商品</div>
<br>
<table width="100%" border="0" align="center">
  <tr bgcolor="#b4c8ed">
    <th>商品名称</th>
    <th width="5%" >商品价格</th>
    <th width="15%" >添加到购物车</th>
  </tr>
{% for goods in goods_list %}
    <!-- 颜色的奇偶显示 -->
  <tr bgcolor={% cycle '#ffffff' '#edf8ff' %}>
    <td class="col1"><a href="/detail/?id={{ goods.id }}">{{ goods.description }}</a></td>
    <td class="col2">￥{{ goods.price }}</td>
    <td class="col3"><a href="/add/?id={{ goods.id}}&name={{ goods.name }}&price={{ goods.price }}&page=list">添加到购物车</a></td>
  </tr> 
{% endfor %}
</table>
{% endblock %}