{% extends "base1.html"%}
{% load static %}
{% block title %}智捷网上电脑商城{% endblock %}

{% block body %}

<style type="text/css">
a:link {
	font-size: 18px;
	color: #DB8400;
	text-decoration: none;
	font-weight: bolder;
}
a:visited {
	font-size: 18px;
	color: #DB8400;
	text-decoration: none;
	font-weight: bolder;
}
a:hover {
	font-size: 18px;
	color: #DB8400;
	text-decoration: underline;
	font-weight: bolder;
}
</style>
</head>

<div>
  <p class="text1"> <img src="{% static 'images/4.jpg' %}"   align="absmiddle" /> <a href="/list/">商品列表</a> </p>
  <p class="text2"> 您可以从产品列表中浏览感兴趣的产品进行购买 </p>
</div>
<hr width="100%" />
<div>
  <p class="text1"> <img src="{% static 'images/mycar1.jpg' %}" align="absmiddle"  /> <a href="/show_cart/">购物车</a> </p>
  <p class="text2"> 您可以把感兴趣的商品暂时放在购物车中 </p>
</div>
{% endblock %}