{% extends "base1.html"%}
{% block title %}订单完成{% endblock %}

{% block body %}

<style type="text/css">
a:link {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    font-size: 18px;
    color: #DB8400;
    text-decoration: underline;
    font-weight: bolder;
}
</style>

<div align="center" >
  <p class="text7"> 谢谢您的购物！ </p>
  <p class="text7"> 您的订单号是： </p>
  <p class="text7"> 您可以继续购物！ </p>
   <p class="text7">
       <a href="/main/">返回主页面</a>
  </p>
</div>

{% endblock %}